/EclipseWorkspace/.metadata
/EclipseWorkspace/.recommenders
/EclipseWorkspace/RemoteSystemsTempFiles
/EclipseWorkspace/03 Exceptions Demo/src/com/slk/training/programs/PuzzleGame.java
/EclipseWorkspace/00 Assignments/src/com/slk/assignment22
/h2/